<div class="category">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">{{category}}</h2>
    <div class="animal-wrapper">
        {{#each animals}} 
        {{> animalCard}} 
        {{/each}}
    </div>
  </div>
</div>