
<div class="news">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Новости</h2>
    <div class="news">
        {{#each news}} 
          {{> newsCard}} 
        {{/each}}
    </div>
  </div>
</div>