<div class="{{class}}">
  <div class="galery_item">
    <img class="galery_img" src="{{photoUrl}}" alt="">
    <div class="galery_info">
      <div class="galery_title">animal name</div>
      <a class="galery_text">Lorem ipsum dolor sit</a>
    </div>
  </div>
</div>