<script defer src='/js/login.js'></script>

<div class='admin-container'>
  <form class='bg-dark' name='loginForm'>
    <div class='mb-3'>
      <label for='email' class='form-label'>Email address</label>
      <input
        type='email'
        name='email'
        class='form-control'
        id='email'
        aria-describedby='emailHelp'
      />
    </div>
    <div class='mb-3'>
      <label for='password' class='form-label'>Password</label>
      <input
        type='password'
        name='password'
        class='form-control'
        id='password'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>